@import 'tailwindcss';

.phraseCard {
  padding: 0.7rem 1rem;
  width: clamp(18rem, 70%, 50rem);
  @apply flex justify-between;
  @apply border rounded-xl shadow-sm;
  @apply bg-zinc-300;
  @apply mb-2;
}

.contents {
  word-break: break-all;
  @apply flex flex-col;
}

.german {
  @apply text-lg font-semibold;
}

.translation {
  @apply text-sm;
}

.rightPannel {
  min-width: 90px;
  @apply flex justify-end;
}

.category {
  padding: 4px;
  height: fit-content;
  @apply border rounded-md;
  @apply bg-green-200;
  @apply text-xs;
}

.star {
  color: rgb(255, 255, 0);
  height: fit-content;
  padding: 0.5rem 0.5rem 0.3rem 0.3rem;
  margin-top: -0.5rem;
  margin-right: -0.5rem;
}
